body {
  font-size: 1.5em;
}

select {
  font-size: 0.9em;
}

input {
  font-size: 0.9em; 
}

label {
  display: inline-block;
  margin-bottom: 20px;
}


#header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "#title #score #timer"
}

#title {

}

#score-timer {

}

#main-container {
  width: 60%;
  margin: 0 auto;
}

.question {

}

.game-results {
}