body {
  font-size: 1.5em;
  background-color: coral;
}

select {
  font-size: 0.9em;
}

input {
  border-radius: 10px;
  box-shadow: 0;
  font-size: 0.9em;
}

input:focus {
  outline: none;
}

label {
  display: inline-block;
  margin-bottom: 20px;
}


#header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "#title #score #timer"
}

#title {
  font-family: tahoma;
}

#score-timer {

}

#main-container {
  width: 60%;
  margin: 0 auto;
}

.question {

}

.game-results {
}
